<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tableVIewAndSegment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD1031C41D0D01240047B266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD1031DD1D0D01260047B266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD1031E81D0D01260047B266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
